<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TODO</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id = "app">
            <h2>TODO List</h2>
            <!-- 入力・送信フォームを作成する際に必要な構成要素 -->
            <!-- <要素> v-on:イベント名='メソッド名' </要素> -->
            <form v-on:submit.prevent>
                <!-- formタグの部品 -->
                <!-- v-modelディレクティブ="プロパティ名"　フォーム入力内容とvue.jsを結びつける -->
                <input type="text" v-model="newItem">
                <!-- ボタンがクリックされたらaddItemメソッドを呼び出す -->
                <button v-on:click="addItem">
                    Add
                </button>
            </form>
            <ul>
                <!-- 変数 in リストの変数 -->
                <li v-for="todo in todos">
                    <span>{{todo.item}}</span>
                </li>
            </ul>
            <!-- dataオブジェクトの動作確認用 -->
            <pre>{{$data}}</pre>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>